# --- GLOBAL SECURITY ---
.env
.DS_Store
Thumbs.db

# --- IDE SETTINGS ---
.vscode/
.idea/

# Ignore all Google Drive staging folders
**/.tmp.drive*/
**/.tmp.drive.uploads/
**/Icon\r
**/.DS_Store
**/*.gdoc
**/*.gsheet
**/*.gslides